MYSQL_ROOT_PASSWORD=

AUTH_DB_NAME=
AUTH_DB_USER=
AUTH_DB_PASSWORD=
AUTH_SECRET_KEY=
AUTH_ALGORITHM=

PRODUCT_DB_NAME=
PRODUCT_DB_USER=
PRODUCT_DB_PASSWORD=

ORDER_DB_NAME=
ORDER_DB_USER=
ORDER_DB_PASSWORD=

BACKEND_CORS_ORIGINS=
ACCESS_TOKEN_EXPIRE_MINUTES=