apiVersion: v1
kind: Secret
metadata:
  name: frontend-secret
  namespace: ecommerce

type: Opaque

stringData:
  VITE_DD_APP_ID: 2526bef3-8ef7-4611-ba3f-0cf0bdd4fa36
  VITE_DD_CLIENT_TOKEN: pubf47c8c3ea5797e48c27c6832586bfb11
  VITE_DD_SITE: ap1.datadoghq.com